body {

}

h1 {

}

#time {

}

#timeSet {

}

#minutes {

}

#minuteSet {

}

#seconds {

}

#secondSet {

}

#timer {
  width: 20%;
  height: 100px;
  margin: 0 auto;
  border: 1px solid black;
}

#countdown {

}

#starter {

}

#start {

}

#startButton {

}

#restart {

}

#restartButton {

}

#selectedChoice {

}

#userChoice {
  width: 20%;
  height: 100px;
  margin: 0 auto;
  border: 1px solid black;
}

#botChoice {
  width: 20%;
  height: 100px;
  margin: 0 auto;
  border: 1px solid black;
}

#buttons {

}

#rock {

}

#paper {

}

#scissors {

}

#scoreboard {

}

#wins {

}

#ties {

}

#losses {

}
